eel
python-dotenv
pyttsx3
SpeechRecognition
PyAudio
pvporcupine
wikipedia
pywhatkit
pyautogui
requests
beautifulsoup4
GoogleNews
pandas
imdbpy
winshell
pygetwindow
opencv-contrib-python==4.10.0.84
Pillow
numpy
pywin32
pystray
psutil
GPUtil
edge-tts
